body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.nero{
    background-color: black ;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-head {
    background-color: rgba(22, 22, 23, .8);
    color: #fff;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav-head nav {
    text-align: center;
}

.nav-head nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-head nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-head nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo {
    position: absolute;
    top: 15px;
    left: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    z-index: 3;
}

.person-icon {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 20px;
    height: 20px;
    z-index: 3;
}

.freccia {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    z-index: 1;
}

.freccia-sx {
    left: 10px;
}

.freccia-dx {
    right: 10px;
}

.giochi-evidenza {
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.giochi-evidenza h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.contenuto{
    position: relative;
    transition: transform 0.5s ease;
}

.immagini{
    width: 100%;
    flex: 1;
    margin-right: 20px;
}

.immagini img{
    object-fit: cover;
    object-position: 0 75%;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

.secondo-gioco {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: -31px;
    left: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: left 0.5s ease;
    flex: 1;
}

.terzo-gioco {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: -31px;
    left: 200%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: left 0.5s ease;
    flex: 1;
}

.terzo-gioco img{
    object-fit: cover;
    object-position: 0 50%;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

.quarto-gioco {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: -31px;
    left: 300%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: left 0.5s ease;
    flex: 1;
}

.quarto-gioco img{
    object-fit: cover;
    object-position: 0 60%;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

.quinto-gioco {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: -31px;
    left: 400%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: left 0.5s ease;
    flex: 1;
}

.quinto-gioco img{
    object-fit: cover;
    object-position: 0 35%;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

.nascosto {
    left: 100%;
}

.but-home {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.but-home:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}
  
.but-home:focus {
    outline: none;
}
  
.but-home.cod {
    background-image: linear-gradient(
      to right,
      white,
      rgb(255, 175, 175),
      red,
      rgb(153, 0, 0)
    );
}

.but-home.forza {
    background-image: linear-gradient(
      to right,
      white,
      rgb(191, 226, 65),
      rgb(127, 197, 34),
      rgb(40, 169, 192)
    );
}

.but-home.spi {
    background-image: linear-gradient(
      to right,
      white,
      rgb(170, 29, 60),
      rgb(112, 10, 52),
      rgb(13, 5, 49)
    );
}

.but-home.pal {
    background-image: linear-gradient(
      to right,
      white,
      rgb(61, 245, 230),
      rgb(22, 185, 104),
      rgb(174, 228, 28)
    );
}

.but-home.flipper {
    background-image: linear-gradient(
      to right,
      white,
      rgb(226, 196, 65),
      rgb(230, 174, 22),
      rgb(224, 45, 21)
    );
}

.game {
    text-align: center;
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fc-live{
    color: black;
}

.live-title{
    margin-top: 2%;
    margin-bottom: 1%;
}

.live-title h1{
    display: inline;
    font-size: 3em;
}

.live-title span{
    padding-left: 250px;
}

.offerte{
    background-color: black;
    margin-top: 4%;
    padding-bottom: 5%;
}

.offerte h1{
    text-align: center;
    padding-top: 3%;
}

.offertet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.offertet table{
    width: 60%;
    height: auto;
    border-collapse: collapse;
}

.offertet td{
    padding-left: 1%;
    padding-top: 1%;
}

.offertet td:hover{
    padding-left: 1%;
    padding-top: 1%;
    scale: 1.01;
    transition: all 0.3s ease;
}

.offertet td:not(:hover){
    padding-left: 1%;
    padding-top: 1%;
    scale: 1.00;
    transition: all 0.3s ease;
}

.offertet img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.offertet-imgrossa{
    width: 40%;
    height: auto;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
/*
:root {
    --valid: hsl(140 80% 40%);
    --invalid: hsl(10 80% 40%);
    --input: hsl(0 0% 0%);
  }
  .login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    background-color: hsl(0 0% 6%);
    color: hsl(0 0% 98%);
  }
  .form-group {
    --active: 0;
    container-type: inline-size;
    flex: 1;
  }
  
  .login form {
    width: 40ch;
  }
  .login input {
    --is-valid: 0;
    --is-invalid: 0;
    background: linear-gradient(var(--input), var(--input)) padding-box,
      linear-gradient(var(--invalid), var(--invalid))
        calc((1 - var(--is-invalid)) * -100cqi) 0 / 100% 100% border-box,
      linear-gradient(var(--valid), var(--valid))
        calc((1 - var(--is-valid)) * 100cqi) 0 / 100% 100% border-box,
      var(--input);
    border: 2px solid transparent;
    font-size: 1rem;
    background-repeat: no-repeat;
    max-width: 100%;
    font-family: "Geist Sans", "SF Pro", sans-serif;
    font-weight: 40;
    background-color: #3b4148;
    border-radius: 10px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 100%;
    outline: 0;
    height: 50px;
  }
  
  .login label {
    margin-bottom: 0.5rem;
    display: inline-block;
    padding-left: 5px;
    opacity: calc(var(--active) + 0.45);
    transition: opacity 0.5s;
  }
  
  .form-group:focus-within {
    --active: 1;
  }
  
  input:invalid:not(:placeholder-shown):not(:focus-visible) {
    --is-invalid: 1;
  }
  
  input:valid {
    --is-valid: 1;
  }
  @media (prefers-reduced-motion: no-preference) {
    input {
      transition: background-position 0.5s;
    }
  }
  .submitbtn {
    background: #2a292c;
    border: 0;
    margin-top: 0.5rem;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  .submitbtn:hover {
    background: #404949;
  }
  .login h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 30px;
    color: #a9a9a9;
  }*/